<!doctype html>

<html>
	<head>
		<title>Video Search</title>
		<script src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<div id="container">
		<p style="margin-left: 10px;font-size: 22px;font-weight:bold;">Search Through The Video/Subtitles<!----<select id="search-choose"><option value="Video">Video</option><option value="Subtitles">Subtitles</option></select>!--></p>
		<p id="desc">
			Search through videos for events with ease. 
		</p>
		<div id="main-form">
			<input type="text" name="search-term" id="search-term" placeholder="E.g. jumping cat"> 
			<br>
			<button id="submit" name="submit">Search</button>
		</div>
		<div id="loader" style="display: none;"></div>
		<div id="results-display" style="display: none;">
			<h2>Timestamps:</h2>
			<ul id="time-list"></ul>
			<p id="no-timestamps-found">No Timestamps Found!</p>
		</div>
		</div>
	</body>
</html>